.form-screen {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/base/game_background_desktop.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  color: #16478e;
  overflow: hidden;
}


.form-content-container {
  width: 50%;            /* take half of the screen width */
  position: absolute;    /* position relative to the screen */
  top: 50%;              /* vertical center */
  left: 50%;             /* start at the middle of the screen */
  transform: translate(0, -50%); /* keep vertical centering */
  display: flex;         /* for inner content alignment */
  flex-direction: column;
  justify-content: center; /* push content to the right within this container */
  align-items: center;   /* vertical alignment of inner content */
  gap: 1rem;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2.5rem;
  text-align: center;
}


@media (max-width: 968px) {
  .form-chewbie-wrapper {
    display: none;
  }

  .form-screen {
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/base/form_background_mobile.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    color: #16478e;
  } 

  .form-content-container {
    width: 100%;           /* take half of the screen width */
    transform: none;
    position: initial;
    display: flex;  
    flex-direction: column;       /* for inner content alignment */
    justify-content: center; /* push content to the right within this container */
    align-items: center;   /* vertical alignment of inner content */
    gap: 1rem;
  }


}

.disclaimer-text {
  font-size: small;
  padding: 0 2.5rem;
  text-align: center;
}


.form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

input {
  background-color: transparent;
  border: none;
  border-top: 2px solid #fcdc04; 
  color: #16478e;
  font-size: medium;
  font-weight: 600;
  padding: 0.65rem 5rem 0.65rem 1rem;
}


input.selected {
  border: none;
}
/* Styles for autofilled inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #16478e !important;
}

::placeholder {
  border: none;
  color: rgba(22, 71, 142, 0.6);
  font-size: medium;
  opacity: 1;
}

.questions-container {
  border: 2px solid #fcdc04;
  display: flex;
  flex-direction: column;
}

.sign-up-text {
  color: #16478e;
  font-size: medium;
  font-weight: 600;
  padding: 0.65rem 1.5rem 0.65rem 1.5rem;
  text-align: center;
  text-transform: uppercase;
  
}

.last-step {
  width: 18rem;
}

.form-submit-button:hover {
  transform: scale(1.05);
}

.form-submit-button {
  width: 12rem;
  transition: transform 0.3s ease;
  background-color: transparent;
  border: none; 
  padding: 0; 
  color: #16478e;
}
.form-submit-button img {
  width: 8rem;
  cursor: pointer;
}