.end-screen {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/base/end_background_desktop.jpg");
  background-size: cover;
  background-position: center 80%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  position: relative;
}


.text-container {
  position: absolute;
  bottom: 0vw;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding: 0 16px 2rem;
  text-align: center;
  z-index: 100;
}

.end-logo-mobile {
  display: none;
}
.end-logo {
  display: block;
  position: absolute;
  width: 37rem;
  bottom: 100px;
  right: -82px;
}
.end-text {
  display: block;
  width: 15rem;
  position: absolute;
  bottom: 300px;
  width: 15rem;
  left: 160px;
}

.learn-button {
  width: 16rem;
  position: absolute;
  bottom: 200px;
  left: 150px;

}

@media (max-width: 968px) {
  .end-screen {
    background-image: url("../../assets/base/end_background_mobile.jpg");
    background-position: center;
  }

  .text-container {
    bottom: 10%;
  }

  .end-logo-mobile {
    display: block;
    width: 22rem;
    position: absolute;
    bottom: 7rem;
  }
  .end-logo {
    display: none;
  }
  .end-text {
    display: none;
  }
  .learn-button {
    width: 13rem;
    position: static;
  }
}
