.rules-screen {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/base/rules_background_desktop.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.rules-button {
  align-self: center;
  cursor: pointer;      
  transition: transform 0.2s ease;
  width: 10rem;
}

.rules-button:hover {
  transform: scale(1.05);
}

@media (max-width: 968px) {
  .rules-screen {
    background-image: url("../../assets/base/rules_background_mobile.jpg");
  }

  .rules-button{
    width: 10rem;
  }

}