.rules-screen {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/base/rules_background_desktop.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rules-button {
  display: block;
  align-self: center;
  cursor: pointer;      
  transition: transform 0.2s ease;
  width: 23rem;
  bottom: 3rem;
  position: absolute;
}

.rules-button:hover {
  transform: scale(1.05);
}

.rules-eggs {
  display: block;
  width: 60rem;
}

.rules-eggs-mobile {
  display: none;
}


@media (max-width: 968px) {
  .rules-screen {
    background-image: url("../../assets/base/rules_background_mobile.jpg");
  }

  .rules-button {
    display: block;
    width: 18rem;
    position: absolute;
    bottom: 6rem;
  }

  .rules-eggs-mobile {
        display: block;
        width: 55%;
        position: absolute;
        bottom: 200px;
  }

  .rules-eggs {
    display: none;
  }

}

@media (max-width: 718px) {
    .rules-eggs-mobile {
        display: block;
        width: 62%;
        position: absolute;
        bottom: 275px;
    }
}

@media (max-width: 418px) {
    .rules-eggs-mobile {
        display: block;
        width: 80%;
        position: absolute;
        bottom: 350px;
    }
}