.title-container {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/base/title_background_desktop.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.easter-logo {
  max-width: 32vw;
  margin-left: -100px;
  margin-bottom: 50px;
}


.title-button {
  align-self: center;
  cursor: pointer;               /* Makes the cursor a pointer */
  transition: transform 0.2s ease; /* Smooth transition for scaling */
  width:23vw;
  /* Given iframe constraints, absolutely position elements */
  position: absolute;
  right: 5rem;
  bottom: 11rem;
}

.title-button-mobile {
  display: none;
}

.title-button:hover {
  transform: scale(1.05) rotate(5deg);        /* Slightly enlarge on hover */
}

.title-button-mobile:hover {
  transform: scale(1.05);      /* Slightly enlarge on hover */
}

@media (max-width: 668px) {
  .title-container {
    background-image: url("../../assets/base/title_background_mobile.jpg");
  }

  .content-container {
    align-items: center;
    transform: translateX(0rem);
    margin-bottom: 75px;
  }

  .easter-logo {
    justify-self: center;
  }

  .title-button {
    display: none;
  }

  .title-button-mobile {
    display: block;
    position: relative;
    width: 70%;
    top: 23rem;
  }
}
