.game-screen {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.game-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game-bg-mobile {
  display: none;
}

.game-chewbie {
  display: block;
  width: 8rem;
}

.egg-grid {
  position: absolute;
  bottom: 10%;
  left: 24%;
  width: 35%;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 across (desktop) */
  grid-template-rows: repeat(3, auto);   /* 3 rows */

  column-gap: 2.8rem !important;
  row-gap: 5rem;

  justify-items: center;
  align-items: end;
  z-index: 2;
}

.egg-cell {
  position: relative;
  width: 103px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}

.egg-icon {
  width: 100%;
  transition: transform 0.2s ease;
  position: relative;
  z-index: 2; /* below grass */
}

.egg-icon:hover {
  transform: scale(1.05);
}

.egg-cell.selected .egg-icon {
  transform: rotate(20deg) translateY(-40px);
  animation: jiggle 0.4s ease;
}

.egg-grid .egg-cell:nth-child(11) { transform: translateX(45px)  }
.egg-grid .egg-cell:nth-child(12) { transform: translateX(40px)  }
.egg-grid .egg-cell:nth-child(13) { transform: translateX(40px)   }
.egg-grid .egg-cell:nth-child(14) { transform: translateX(35px)  }
.egg-grid .egg-cell:nth-child(15) { transform: translateX(30px) }

@keyframes jiggle {
  0% { transform: rotate(20deg) translateX(0); }
  25% { transform: rotate(15deg) translateX(-2px); }
  50% { transform: rotate(20deg) translateX(2px); }
  75% { transform: rotate(25deg) translateX(-2px); }
  100% { transform: rotate(20deg) translateX(0); }
}

.egg-grass {
  position: absolute;
  bottom: -6px;          /* tweak to taste */
  left: 50%;
  transform: translateX(-50%);
  width: 115%;           /* slightly wider than egg */
  pointer-events: none;  /* clicks go through to egg */
  z-index: 3;            /* above egg */
}

.submit-button:hover {
  transform: scale(1.05);
}

.submit-button:disabled img {
  opacity: 0.5;
  cursor: not-allowed;
}

.submit-desktop {
  display: block;
}

.submit-mobile {
  display: none;
}

.submit-button {
  position: relative;
  bottom: -4rem;
  left: 2rem;
  cursor: pointer;

  width: 12rem;
  transition: transform 0.3s ease;
  background-color: transparent;
  border: none; 
  padding: 0; 
  color: #16478e;
}
.submit-button img {
  width: 8rem; 
}

.submit-button:hover {
  transform: scale(1.05);
}

.submit-wrap {
  position: relative;
  display: inline-block;
}

.submit-button.ready-to-mix {
  filter:
    drop-shadow(0 0 4px rgba(255,255,255,0.9))
    drop-shadow(0 0 10px rgba(255,255,255,0.75))
    drop-shadow(0 0 18px rgba(255,255,255,0.6));
}

/* Mobile layout adjustments */
@media (max-width: 868px) {
  .game-bg-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .game-bg {
    display: none;
  }

  .egg-grid {
    position: relative;
    width: 88vw;
    margin: 0 auto;
    left: 0px;
    top: 30px;

    column-gap: 0 !important;
    row-gap: 2.8rem;

    grid-template-columns: repeat(3, 1fr); /* 3 across (mobile) */
    grid-template-rows: repeat(5, auto);   /* 5 rows */
    gap: 10px;
  }
  .egg-cell.selected .egg-icon {
    transform: rotate(20deg) translateY(-20px);
    animation: jiggle 0.4s ease;
  }

  .egg-cell {
    width: 70px;
  }

  .egg-icon {
    flex: 1 1 0;
    max-width: 70px; /* 3 eggs, with a little spacing */
    height: auto;
    cursor: pointer;
  }

  .egg-grid .egg-cell:nth-child(11) { transform: translateX(0px)  }
  .egg-grid .egg-cell:nth-child(12) { transform: translateX(0px)  }
  .egg-grid .egg-cell:nth-child(13) { transform: translateX(0px)   }
  .egg-grid .egg-cell:nth-child(14) { transform: translateX(0px)  }
  .egg-grid .egg-cell:nth-child(15) { transform: translateX(0px) }
  
  .submit-button {
    width: 14rem;
    justify-self: anchor-center;
    cursor: pointer;
    top: 750px;
    position: relative;
    left: 4px;
  }

  .submit-wrap {
    display: block;
  }

  .submit-desktop {
    display: none;
  }

  .submit-mobile {
    display: block;
  }

  .game-chewbie {
    display: none;
  }
}

