.game-screen {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.game-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game-bg-mobile {
  display: none;
}

.egg-grid {
  position: absolute;
  bottom: 8%;
  right: 2.2%;
  width: 35%;

  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 across (desktop) */
  grid-template-rows: repeat(3, auto);   /* 3 rows */

  justify-items: center;
  align-items: end;
  z-index: 2;
}

.egg-icon {
  width: 140px;
  cursor: pointer;
  transition: transform 0.2s ease;
  /* margin-right: -45px; */
}

.egg-icon:hover {
  transform: scale(1.1);
}

.egg-icon.selected {
  transform: rotate(-20deg) translateY(-20px);
  animation: jiggle 0.4s ease;
}

@keyframes jiggle {
  0% { transform: rotate(-20deg) translateX(0); }
  25% { transform: rotate(-15deg) translateX(-2px); }
  50% { transform: rotate(-20deg) translateX(2px); }
  75% { transform: rotate(-25deg) translateX(-2px); }
  100% { transform: rotate(-20deg) translateX(0); }
}


.submit-button:hover {
  transform: scale(1.05);
}

.submit-button:disabled img {
  opacity: 0.5;
  cursor: not-allowed;
}

.submit-desktop {
  display: block;
}

.submit-mobile {
  display: none;
}

.submit-button {
  position: absolute;
  top: 71%;
  left: 63%;
  z-index: 5;
  cursor: pointer;
  width: 27%;
  transition: transform 0.3s ease;
}

/* === Chewbie and Related Elements === */
.chewbie-wrapper {
  position: absolute;
  left: 30%;
  width: 43%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: anchor-center;
  z-index: 2;
  margin-left: -25px;
  margin-bottom: -10rem;
}


/* Mobile layout adjustments */
@media (max-width: 868px) {
  .game-bg-mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .game-bg {
    display: none;
  }

  .egg-grid {
    position: relative;
    width: 88vw;
    margin: 0 auto;
    top: 90px;
    right: auto;
    bottom: auto;

    grid-template-columns: repeat(3, 1fr); /* 3 across (mobile) */
    grid-template-rows: repeat(5, auto);   /* 5 rows */
    gap: 10px;
  }

  .chewbie-wrapper {
    align-self: anchor-center;
    left: 50%;
    width: 50vw;
    top: 35%;
    margin-top: -8rem;
  }

  .egg-icon {
    flex: 1 1 0;
    max-width: calc(88vw / 3 - 10px); /* 3 eggs, with a little spacing */
    height: auto;
    cursor: pointer;
  }
 
  .submit-desktop {
    display: none;
  }

  .submit-mobile {
    display: block;
  }
  
}

